body {
    background-image: url("../Background.jpg");
    background-repeat: no-repeat;
}

.form {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 80px;
    background: rgba(255, 255, 255, 0.3);
    text-align: left; 
    margin: 0; 
    position: absolute; 
    top: 45%; 
    left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
}